<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://media.istockphoto.com/id/1322104312/pt/foto/freedom-chains-that-transform-into-birds-charge-concept.jpg?s=612x612&w=0&k=20&c=e5oxSsSFlsD8bdgXTCKNW4X0POTo1hs7nqAaNOeLgoo="
            alt=""
            height="200px" />
    </div>

    <div class="big-card__title">
        <h1>
            <a href="">
                O inicio de uma jornada
            </a>
        </h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus auctor dolor et faucibus. Ut viverra suscipit quam, volutpat consequat risus scelerisque in. Curabitur sit amet placerat dui. Duis a felis congue, sodales metus quis, consectetur eros. Quisque ornare malesuada eros ut consectetur. Mauris rutrum faucibus ipsum at ullamcorper. Duis ut mi tincidunt nibh rutrum lacinia. Aliquam commodo convallis fermentum. Ut sodales congue dui a laoreet. Curabitur fermentum ornare ante, eget porttitor elit accumsan eget. Quisque sit amet pulvinar justo.
            </a>
        </p>
    </div>
</div>